.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #9D0759;
  border: 1px solid #9D0759;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #2c0d00;
  border-color: #2c0d00;
}